.contenedorr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  max-height: 150px;
}

.fila {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px; /* Agregamos margen inferior entre filas */
}

.columna {
  flex: 0 0 calc(33.33% - 20px);
  padding: 10px;
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
}

.card img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}
